.info-background{
background-color:#fceae8;
}
.dollar-buy{
    color: #ff418c;
}
.panda-buy-now{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-color: #ff4a92;
}
.card-title{
    color: rgb(2, 58, 14);
    font-weight: 800;
}
.image-slide{
    margin-top: 100px;
    border: none;
}